body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

header {
    /* margin-top: 30px; */
    /* height: 100px; */
    /* margin-top: 30px; */
    width: 100%;
    background: #000;
    min-height: 80px;
    overflow: hidden;
}

.eso1 h2{
    padding-left: 10px;
    color: #fff;
    font-weight: 600;
}

.texto{
    margin:0;
    font-size: 16px;
	display: inline-block;
    padding-left: 15px;
    color: rgb(192, 185, 185);
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
.eso{
    /* padding: 0; */
}

nav a{
    padding-top: 25px;
    display: block;
    text-decoration: none;
    color: rgb(7, 7, 7);
    background: #f1f1f1;
    height: 100%;           
    padding: 0 30px;
    font-weight: 600;
}

nav a:hover{
    color: rgb(161, 150, 150);
    background: #b3e976;
}
.gato{
    position: absolute;
    width: 100%;            
    height: 300px;
    padding: 50px;
    color: #000;
}

.gato img{
    display: block;
    text-align: center;
    align-content: center;
    width: 400px;
}
 footer{
     background: #000;
     height: 80px;
     margin-top: 300px;
     
     width: 
 }